/****** Object:  Table [dbo].[C_Menu]    Script Date: 12/14/2016 11:13:21 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[C_Menu]') AND type in (N'U'))
DROP TABLE [dbo].[C_Menu]
GO
/****** Object:  Table [dbo].[C_Menu]    Script Date: 12/14/2016 11:13:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[C_Menu]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[C_Menu](
	[IdMenu] [int] NOT NULL,
	[NombreMenu] [varchar](255) NULL,
	[Descripcion] [varchar](1000) NULL,
	[IdPadre] [int] NULL,
	[Clave] [varchar](6) NULL,
	[IdDerecho] [smallint] NULL,
	[Utilizar] [tinyint] NULL,
	[Procedimiento] [varchar](80) NULL,
	[TipoIcono] [tinyint] NULL,
	[OrigenDll] [varchar](30) NULL,
	[Parametros] [varchar](40) NULL,
	[Orden] [tinyint] NULL,
	[AplicaMatriz] [tinyint] NULL,
	[DependeAlmacen] [tinyint] NULL,
	[TipoMenusPermitidos] [varchar](30) NULL,
	[NoThread] [smallint] NULL,
	[Contabilidad] [tinyint] NULL,
	[Almacen] [tinyint] NULL,
	[Basica] [tinyint] NULL,
	[Completa] [tinyint] NULL,
	[Obra] [tinyint] NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[C_Menu] ([IdMenu], [NombreMenu], [Descripcion], [IdPadre], [Clave], [IdDerecho], [Utilizar], [Procedimiento], [TipoIcono], [OrigenDll], [Parametros], [Orden], [AplicaMatriz], [DependeAlmacen], [TipoMenusPermitidos], [NoThread], [Contabilidad], [Almacen], [Basica], [Completa], [Obra]) VALUES (1073, N'Reporteador', N'Reporteador', 0, N'', 1, 1, N'Korima_Reporteador.exe', 1, N'REPORTEADOR', N'', 28, 0, 0, N'', 0, 0, 0, 0, 1, 0)
INSERT [dbo].[C_Menu] ([IdMenu], [NombreMenu], [Descripcion], [IdPadre], [Clave], [IdDerecho], [Utilizar], [Procedimiento], [TipoIcono], [OrigenDll], [Parametros], [Orden], [AplicaMatriz], [DependeAlmacen], [TipoMenusPermitidos], [NoThread], [Contabilidad], [Almacen], [Basica], [Completa], [Obra]) VALUES (980, N'Carga Estimación', N'Cargamos la información de la estimación del contratista para que se pueda revisar técnicamente y se tramite el pago.', 970, N'980', 1, 1, N'', 4, N'', N'', 0, 0, 0, N'', 0, 0, 0, 0, 1, 0)
INSERT [dbo].[C_Menu] ([IdMenu], [NombreMenu], [Descripcion], [IdPadre], [Clave], [IdDerecho], [Utilizar], [Procedimiento], [TipoIcono], [OrigenDll], [Parametros], [Orden], [AplicaMatriz], [DependeAlmacen], [TipoMenusPermitidos], [NoThread], [Contabilidad], [Almacen], [Basica], [Completa], [Obra]) VALUES (1062, N'Informe de Transferencia Compensada', N'Informe de Transferencia Compensada', 497, N'', 0, 1, N'factura.kor', 5, N'REPORTES KORIMA', N'7', 0, 0, 0, N'', 1062, 0, 0, 0, 1, 0)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'






