/****** Object:  Table [dbo].[C_Menu]    Script Date: 22/03/2018 12:00:58 a. m. ******/
DROP TABLE [dbo].[C_Menu]
GO
/****** Object:  Table [dbo].[C_Menu]    Script Date: 22/03/2018 12:00:58 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[C_Menu](
	[IdMenu] [int] NOT NULL,
	[NombreMenu] [varchar](255) NULL,
	[Descripcion] [varchar](1000) NULL,
	[IdPadre] [int] NULL,
	[Clave] [varchar](6) NULL,
	[IdDerecho] [smallint] NULL,
	[Utilizar] [tinyint] NULL,
	[Procedimiento] [varchar](80) NULL,
	[TipoIcono] [tinyint] NULL,
	[OrigenDll] [varchar](30) NULL,
	[Parametros] [varchar](40) NULL,
	[Orden] [tinyint] NULL,
	[AplicaMatriz] [tinyint] NULL,
	[DependeAlmacen] [tinyint] NULL,
	[TipoMenusPermitidos] [varchar](30) NULL,
	[NoThread] [smallint] NULL,
	[Contabilidad] [tinyint] NULL,
	[Almacen] [tinyint] NULL,
	[Basica] [tinyint] NULL,
	[Completa] [tinyint] NULL,
	[Obra] [tinyint] NULL
) ON [PRIMARY]

GO
INSERT [dbo].[C_Menu] ([IdMenu], [NombreMenu], [Descripcion], [IdPadre], [Clave], [IdDerecho], [Utilizar], [Procedimiento], [TipoIcono], [OrigenDll], [Parametros], [Orden], [AplicaMatriz], [DependeAlmacen], [TipoMenusPermitidos], [NoThread], [Contabilidad], [Almacen], [Basica], [Completa], [Obra]) VALUES (1073, N'Reporteador', N'Reporteador', 0, N'', 1, 1, N'Korima_Reporteador.exe', 1, N'REPORTEADOR', N'', 28, 0, 0, N'', 0, 0, 0, 0, 1, 0)
GO
INSERT [dbo].[C_Menu] ([IdMenu], [NombreMenu], [Descripcion], [IdPadre], [Clave], [IdDerecho], [Utilizar], [Procedimiento], [TipoIcono], [OrigenDll], [Parametros], [Orden], [AplicaMatriz], [DependeAlmacen], [TipoMenusPermitidos], [NoThread], [Contabilidad], [Almacen], [Basica], [Completa], [Obra]) VALUES (980, N'Carga Estimación', N'Cargamos la información de la estimación del contratista para que se pueda revisar técnicamente y se tramite el pago.', 970, N'980', 1, 1, N'', 4, N'', N'', 0, 0, 0, N'', 0, 0, 0, 0, 1, 0)
GO
INSERT [dbo].[C_Menu] ([IdMenu], [NombreMenu], [Descripcion], [IdPadre], [Clave], [IdDerecho], [Utilizar], [Procedimiento], [TipoIcono], [OrigenDll], [Parametros], [Orden], [AplicaMatriz], [DependeAlmacen], [TipoMenusPermitidos], [NoThread], [Contabilidad], [Almacen], [Basica], [Completa], [Obra]) VALUES (1062, N'Informe de Transferencia Compensada', N'Informe de Transferencia Compensada', 497, N'', 0, 1, N'factura.kor', 5, N'REPORTES KORIMA', N'7', 0, 0, 0, N'', 1062, 0, 0, 0, 1, 0)
GO
--INSERT [dbo].[C_Menu] ([IdMenu], [NombreMenu], [Descripcion], [IdPadre], [Clave], [IdDerecho], [Utilizar], [Procedimiento], [TipoIcono], [OrigenDll], [Parametros], [Orden], [AplicaMatriz], [DependeAlmacen], [TipoMenusPermitidos], [NoThread], [Contabilidad], [Almacen], [Basica], [Completa], [Obra]) VALUES (1341, N'Estado de Variación en la Hacienda Pública', N'Estado de Variación en la Hacienda Pública', 1321, N'', 1, 1, N'-', 1, N'Reporteador', N'', 6, 0, 0, N'', 0, 0, 0, 0, 1, 0)
--GO
GO
GO