/****** Object:  Table [dbo].[C_Menu]    Script Date: 22/03/2018 12:00:58 a. m. ******/
DROP TABLE [dbo].[C_Menu]
GO
/****** Object:  Table [dbo].[C_Menu]    Script Date: 22/03/2018 12:00:58 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[C_Menu](
	[IdMenu] [int] NOT NULL,
	[NombreMenu] [varchar](255) NULL,
	[Descripcion] [varchar](1000) NULL,
	[IdPadre] [int] NULL,
	[Clave] [varchar](6) NULL,
	[IdDerecho] [smallint] NULL,
	[Utilizar] [tinyint] NULL,
	[Procedimiento] [varchar](80) NULL,
	[TipoIcono] [tinyint] NULL,
	[OrigenDll] [varchar](30) NULL,
	[Parametros] [varchar](40) NULL,
	[Orden] [tinyint] NULL,
	[AplicaMatriz] [tinyint] NULL,
	[DependeAlmacen] [tinyint] NULL,
	[TipoMenusPermitidos] [varchar](30) NULL,
	[NoThread] [smallint] NULL,
	[Contabilidad] [tinyint] NULL,
	[Almacen] [tinyint] NULL,
	[Basica] [tinyint] NULL,
	[Completa] [tinyint] NULL,
	[Obra] [tinyint] NULL
) ON [PRIMARY]

GO
INSERT [dbo].[C_Menu] ([IdMenu], [NombreMenu], [Descripcion], [IdPadre], [Clave], [IdDerecho], [Utilizar], [Procedimiento], [TipoIcono], [OrigenDll], [Parametros], [Orden], [AplicaMatriz], [DependeAlmacen], [TipoMenusPermitidos], [NoThread], [Contabilidad], [Almacen], [Basica], [Completa], [Obra]) VALUES (1073, N'Reporteador', N'Reporteador', 0, N'', 1, 1, N'Korima_Reporteador.exe', 1, N'REPORTEADOR', N'', 28, 0, 0, N'', 0, 0, 0, 0, 1, 0)
GO
INSERT [dbo].[C_Menu] ([IdMenu], [NombreMenu], [Descripcion], [IdPadre], [Clave], [IdDerecho], [Utilizar], [Procedimiento], [TipoIcono], [OrigenDll], [Parametros], [Orden], [AplicaMatriz], [DependeAlmacen], [TipoMenusPermitidos], [NoThread], [Contabilidad], [Almacen], [Basica], [Completa], [Obra]) VALUES (980, N'Carga Estimación', N'Cargamos la información de la estimación del contratista para que se pueda revisar técnicamente y se tramite el pago.', 970, N'980', 1, 1, N'', 4, N'', N'', 0, 0, 0, N'', 0, 0, 0, 0, 1, 0)
GO
INSERT [dbo].[C_Menu] ([IdMenu], [NombreMenu], [Descripcion], [IdPadre], [Clave], [IdDerecho], [Utilizar], [Procedimiento], [TipoIcono], [OrigenDll], [Parametros], [Orden], [AplicaMatriz], [DependeAlmacen], [TipoMenusPermitidos], [NoThread], [Contabilidad], [Almacen], [Basica], [Completa], [Obra]) VALUES (1062, N'Informe de Transferencia Compensada', N'Informe de Transferencia Compensada', 497, N'', 0, 1, N'factura.kor', 5, N'REPORTES KORIMA', N'7', 0, 0, 0, N'', 1062, 0, 0, 0, 1, 0)
GO
--INSERT [dbo].[C_Menu] ([IdMenu], [NombreMenu], [Descripcion], [IdPadre], [Clave], [IdDerecho], [Utilizar], [Procedimiento], [TipoIcono], [OrigenDll], [Parametros], [Orden], [AplicaMatriz], [DependeAlmacen], [TipoMenusPermitidos], [NoThread], [Contabilidad], [Almacen], [Basica], [Completa], [Obra]) VALUES (1078, N'Estado de Flujos de Efectivo', N'Estado de Flujos de Efectivo', 1074, N'', 1, 1, N'-', 1, N'Reporteador', N'', 8, 0, 0, N'', 0, 0, 0, 0, 1, 0)
--GO
GO
--INSERT [dbo].[C_Menu] ([IdMenu], [NombreMenu], [Descripcion], [IdPadre], [Clave], [IdDerecho], [Utilizar], [Procedimiento], [TipoIcono], [OrigenDll], [Parametros], [Orden], [AplicaMatriz], [DependeAlmacen], [TipoMenusPermitidos], [NoThread], [Contabilidad], [Almacen], [Basica], [Completa], [Obra]) VALUES (1282, N'Auxiliar Presupuestal', N'Auxiliar Presupuestal', 1300, N'', 1, 1, N'-', 1, N'Reporteador', N'', 3, 0, 0, N'', 1282, 0, 0, 0, 1, 0)
--GO
GO
--INSERT [dbo].[C_Menu] ([IdMenu], [NombreMenu], [Descripcion], [IdPadre], [Clave], [IdDerecho], [Utilizar], [Procedimiento], [TipoIcono], [OrigenDll], [Parametros], [Orden], [AplicaMatriz], [DependeAlmacen], [TipoMenusPermitidos], [NoThread], [Contabilidad], [Almacen], [Basica], [Completa], [Obra]) VALUES (1324, N'Por Partida Específica / Fuente de Financiamiento', N'Estado del Ejercicio del Presupuesto - Partida Específica y Fuente de Financiamiento', 1213, N'', 1, 1, N'-', 1, N'Reporteador', N'', 7, 0, 0, N'', 0, 0, 0, 0, 1, 0)
--GO
GO
--INSERT [dbo].[C_Menu] ([IdMenu], [NombreMenu], [Descripcion], [IdPadre], [Clave], [IdDerecho], [Utilizar], [Procedimiento], [TipoIcono], [OrigenDll], [Parametros], [Orden], [AplicaMatriz], [DependeAlmacen], [TipoMenusPermitidos], [NoThread], [Contabilidad], [Almacen], [Basica], [Completa], [Obra]) VALUES (1341, N'Estado de Variación en la Hacienda Pública', N'Estado de Variación en la Hacienda Pública', 1321, N'', 1, 1, N'-', 1, N'Reporteador', N'', 6, 0, 0, N'', 0, 0, 0, 0, 1, 0)
--GO
GO
--INSERT [dbo].[C_Menu] ([IdMenu], [NombreMenu], [Descripcion], [IdPadre], [Clave], [IdDerecho], [Utilizar], [Procedimiento], [TipoIcono], [OrigenDll], [Parametros], [Orden], [AplicaMatriz], [DependeAlmacen], [TipoMenusPermitidos], [NoThread], [Contabilidad], [Almacen], [Basica], [Completa], [Obra]) VALUES (1388, N'Flujo de Efectivo Detallado', N'Flujo de Efectivo Detallado', 1208, N'', 1, 1, N'-', 1, N'Reporteador', N'', 21, 0, 0, N'', 0, 0, 0, 0, 1, 0)
--GO
GO
-----------------------------------------
GO
--INSERT [dbo].[C_Menu] ([IdMenu], [NombreMenu], [Descripcion], [IdPadre], [Clave], [IdDerecho], [Utilizar], [Procedimiento], [TipoIcono], [OrigenDll], [Parametros], [Orden], [AplicaMatriz], [DependeAlmacen], [TipoMenusPermitidos], [NoThread], [Contabilidad], [Almacen], [Basica], [Completa], [Obra]) VALUES (1475, N'Estado de Flujos de Efectivo EF', N'Estado de Flujos de Efectivo EF', 1074, N'', 1, 1, N'-', 1, N'Reporteador', N'', 17, 0, 0, N'', 0, 0, 0, 0, 1, 0)
--GO
GO


----
GO
-- ¡¡¡IMPORTANTE!!! IdMenu 1482 y 1483 Reservados ¡¡¡IMPORTANTE!!!


-- Actualización orden de menus 1482 y 1483 
UPDATE C_Menu SET Orden = 3 WHERE IdMenu = 1482
GO 
UPDATE C_Menu SET Orden = 4 WHERE IdMenu = 1483
GO 

UPDATE C_MenuUsuarios SET Orden = 3 WHERE IdMenu = 1482
GO 
UPDATE C_MenuUsuarios SET Orden = 4 WHERE IdMenu = 1483
GO  


-- Actualiza Menu de importación de requisiciones
UPDATE C_Menu SET IdPadre = 16, Orden = 0 WHERE IdMenu = 1500
GO

UPDATE C_MenuUsuarios SET IdMenuPadre = 16, Orden = 0 WHERE IdMenu = 1500
GO 

-- Actualización del menú de Regeneración  de almacenes 
UPDATE C_Menu SET NombreMenu = 'Regenerar Almacén', Descripcion = 'Regenerar Almacén' WHERE IdMenu = 1284
GO 
UPDATE C_MenuUsuarios SET Nombre = 'Regenerar Almacén', Descripcion = 'Regenerar Almacén' WHERE IdMenu = 1284
GO 

UPDATE C_Menu SET Orden = 6 WHERE IdMenu = 1052
GO
UPDATE C_MenuUsuarios SET Orden = 6 WHERE IdMenu = 1052
GO

-- Actualización de menús Obra Publica
UPDATE C_Menu SET Orden=1 WHERE IdMenu=162;
GO 
UPDATE C_Menu SET Orden=1 WHERE IdMenu=811;
GO 
UPDATE C_Menu SET Orden=2 WHERE IdMenu=776;
GO 
UPDATE C_Menu SET Orden=10 WHERE IdMenu=794;
GO 
UPDATE C_Menu SET Orden=20 WHERE IdMenu=798;
GO 
UPDATE C_Menu SET Orden=30 WHERE IdMenu=796;
GO 
UPDATE C_Menu SET Orden=40 WHERE IdMenu=797;
GO 
UPDATE C_Menu SET Orden=50 WHERE IdMenu=792;
GO 
UPDATE C_Menu SET Orden=60 WHERE IdMenu=793;
GO 
UPDATE C_Menu SET NombreMenu='Tipos de Obra' WHERE IdMenu=778;
GO 
UPDATE C_Menu SET NombreMenu='Planeación' WHERE IdMenu=162;
GO 
UPDATE C_Menu SET Orden=8 WHERE IdMenu=777;
GO 
UPDATE C_Menu SET IdPadre=791, Orden=70 WHERE IdMenu=782;
GO 
UPDATE C_Menu SET NombreMenu='Regiones',IdPadre=769,Orden=70 WHERE IdMenu=801;
GO 
UPDATE C_Menu SET IdPadre=811, Orden=2, TipoIcono=4 WHERE IdMenu=164;
GO 
UPDATE C_Menu SET Orden=1 WHERE IdMenu=814;
GO 
UPDATE C_Menu SET IdPadre=766, Orden=6 WHERE IdMenu=172;
GO 
UPDATE C_Menu SET NombreMenu='Conceptos Fuera de Catálogo', Descripcion='Conceptos Fuera de Catálogo' where IdMenu=168
GO 
UPDATE C_Menu SET Orden = 1 WHERE IdMenu = 815
GO
UPDATE C_MenuUsuarios SET Orden = 1 WHERE IdMenu = 815
GO 
UPDATE C_Menu SET Orden = 2 WHERE IdMenu = 816
GO
UPDATE C_MenuUsuarios SET Orden = 2 WHERE IdMenu = 816
GO
UPDATE C_Menu SET Orden = 3 WHERE IdMenu = 818
GO
UPDATE C_MenuUsuarios SET Orden = 3 WHERE IdMenu = 818
GO
UPDATE C_Menu SET Orden = 4 WHERE IdMenu = 812
GO
UPDATE C_MenuUsuarios SET Orden = 4 WHERE IdMenu = 812
GO 
UPDATE C_Menu SET Orden = 5, Utilizar = 1 WHERE IdMenu = 164
GO
UPDATE C_MenuUsuarios SET Orden = 5, Utilizar = 1 WHERE IdMenu = 164
GO
UPDATE C_Menu SET Orden = 4 WHERE IdMenu = 853
GO
UPDATE C_MenuUsuarios SET Orden = 4 WHERE IdMenu = 853
GO 

-- 	Actualización de menú Módulo Catálogos/ Egresos/ Cajas y Fondos revolventes
UPDATE C_Menu SET NombreMenu = 'Cajas Chicas', Descripcion= 'Cajas Chicas' WHERE IdMenu = 1045
GO 
UPDATE C_MenuUsuarios SET Nombre = 'Cajas Chicas', Descripcion= 'Cajas Chicas' WHERE IdMenu = 1045
GO 
-- Actualización de menú En módulo Egresos/ Fondo Rotatorio o Revolvente
UPDATE C_Menu SET NombreMenu = 'Gastos por Comprobar', Descripcion= 'Gastos por Comprobar' WHERE IdMenu = 671
GO 
UPDATE C_MenuUsuarios SET Nombre = 'Gastos por Comprobar', Descripcion= 'Gastos por Comprobar' WHERE IdMenu = 671
GO 

Declare @entidad varchar(100)
set @entidad= (Select top 1 EntidadFederativa from RPT_CFG_DatosEntes)
If @entidad = 'Sinaloa'
	Begin
		Update C_Menu set Utilizar = 1 where IdMenu in (1339,1213)
	End

If @entidad = 'Baja California'
	Begin
		Update C_Menu set Utilizar = 1 where IdMenu in (1420)
	End

If @entidad = 'Sonora'
	Begin
		Update C_Menu set Utilizar = 1 where IdMenu in (1459)
	End

If @entidad = 'Jalisco'
	Begin
		Update C_Menu set Utilizar = 1 where IdMenu in (1493)
	End

If @entidad = 'Chihuahua'
	Begin
		Update C_Menu set Utilizar = 1 where IdMenu in (1497,1504)
	End
GO

Exec SP_CFG_LogScripts 'C_Menu','2.30.1'
GO