
/****** Object:  StoredProcedure [dbo].[SP_RPT_K2_Libro_Inventario_Bienes_Muebles_Inmuebles]    Script Date: 17/08/2018 12:08:09 p. m. ******/
DROP PROCEDURE [dbo].[SP_RPT_K2_Libro_Inventario_Bienes_Muebles_Inmuebles]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_RPT_K2_Libro_Inventario_Bienes_Muebles_Inmuebles]
@TipoBien varchar(max),
@EjercicioInicio int,
@mesInicio int,
@EjercicioFin int,
@mesFin int,
@EstatusBien varchar(max)


AS
-- Crear las fechas para el rango Del Al. Solicitado en el Bug. 929. amjm.
	DECLARE @dateini AS DATE;
	DECLARE @datefin AS DATE;
	DECLARE @datetemp AS DATE;
	Declare @diafinal as  int;

	If @mesFin = 2 
	begin
	   set @diafinal = 28
	end

	If @mesFin in (4,6,9,11) 
	begin
	   set @diafinal = 30
	end

	If @mesFin in (1,3,5,7,8,10,12) 
	begin
	   set @diafinal = 31
	end

	set @dateini = cast(convert(datetime,convert(varchar(10),@EjercicioInicio) + '-' +
	 convert(varchar(10),@mesInicio) + '-' +
	 convert(varchar(10),1), 101) as date);

	 set @datefin = cast(convert(datetime,convert(varchar(10),@EjercicioFin) + '-' +
	 convert(varchar(10),@mesFin) + '-' +
	 convert(varchar(10),@diafinal), 101) as date); 

	 if @dateini > @datefin 
	 begin
		  set @datetemp = @dateini
		  set @dateini = @datefin
		  set @datefin = @datetemp
	 End

IF @TipoBien <>'' BEGIN
	IF @EstatusBien <>'' BEGIN
			IF @EstatusBien ='Activo' BEGIN
				SELECT C_TipoBien.DescripcionTipoBien,
				cast(case
						 When T_Activos.Etiqueta <> '' then T_Activos.Etiqueta               
						 else convert(varchar (max), T_Activos.NumeroEconomico) end as varchar (max)) as NumeroEconomico,
				T_Activos.Descripcion,
				1 as Cantidad,
				T_Activos.CostoAdquisicion,
				C_Maestro.UnidadMedida, 
				T_Activos.CostoAdquisicion as Importe,
				T_Activos.FechaUA as Fecha

				FROM T_Activos
				JOIN T_AltaActivos ON T_Activos.FolioAlta= T_AltaActivos.FolioAlta 
				JOIN C_TipoBien ON C_TipoBien.IdTipoBien= T_Activos.IdTipoBien 
				JOIN C_Maestro ON C_Maestro.IdCodigoProducto = T_Activos.CodigoProducto and C_Maestro.IdTipoBien = T_Activos.IdTipoBien 

				-- amjm
				-- Where  C_TipoBien.DescripcionTipoBien= @TipoBien 
				--    AND YEAR(T_Activos.FechaUA)=@Ejercicio AND (MONTH(T_Activos.FechaUA )between 1 and @Periodo ) 
				--    AND T_Activos.Estatus='A'
				Where  C_TipoBien.DescripcionTipoBien= @TipoBien 
					   AND (T_Activos.FechaUA >= @dateini AND T_Activos.FechaUA <= @datefin)
				       AND T_Activos.Estatus='A'
				ORDER BY T_Activos.NumeroEconomico
			END
			ELSE IF @EstatusBien ='Inactivo' BEGIN
				SELECT C_TipoBien.DescripcionTipoBien,
				cast(case
						 When T_Activos.Etiqueta <> '' then T_Activos.Etiqueta               
						 else convert(varchar (max), T_Activos.NumeroEconomico) end as varchar (max)) as NumeroEconomico,
				T_Activos.Descripcion,
				1 as Cantidad,
				T_Activos.CostoAdquisicion,
				C_Maestro.UnidadMedida, 
				T_Activos.CostoAdquisicion as Importe,
				T_Activos.FechaUA as Fecha

				FROM T_Activos
				JOIN T_AltaActivos ON T_Activos.FolioAlta= T_AltaActivos.FolioAlta 
				JOIN C_TipoBien ON C_TipoBien.IdTipoBien= T_Activos.IdTipoBien 
				JOIN C_Maestro ON C_Maestro.IdCodigoProducto = T_Activos.CodigoProducto and C_Maestro.IdTipoBien = T_Activos.IdTipoBien 
				-- amjm
				-- Where  C_TipoBien.DescripcionTipoBien= @TipoBien 
				--     AND YEAR(T_Activos.FechaUA)=@Ejercicio AND (MONTH(T_Activos.FechaUA )between 1 and @Periodo ) 
				--     AND T_Activos.Estatus='B'
				Where  C_TipoBien.DescripcionTipoBien= @TipoBien 
				   AND (T_Activos.FechaUA >= @dateini AND T_Activos.FechaUA <= @datefin)
				   AND T_Activos.Estatus='B'
				ORDER BY T_Activos.NumeroEconomico
			END
			ELSE IF @EstatusBien ='Todos' BEGIN
				SELECT C_TipoBien.DescripcionTipoBien,
				cast(case
						 When T_Activos.Etiqueta <> '' then T_Activos.Etiqueta               
						 else convert(varchar (max), T_Activos.NumeroEconomico) end as varchar (max)) as NumeroEconomico,
				T_Activos.Descripcion,
				1 as Cantidad,
				T_Activos.CostoAdquisicion,
				C_Maestro.UnidadMedida, 
				T_Activos.CostoAdquisicion as Importe,
				T_Activos.FechaUA as Fecha

				FROM T_Activos
				JOIN T_AltaActivos ON T_Activos.FolioAlta= T_AltaActivos.FolioAlta 
				JOIN C_TipoBien ON C_TipoBien.IdTipoBien= T_Activos.IdTipoBien 
				JOIN C_Maestro ON C_Maestro.IdCodigoProducto = T_Activos.CodigoProducto and C_Maestro.IdTipoBien = T_Activos.IdTipoBien 
				-- amjm
				-- Where  C_TipoBien.DescripcionTipoBien= @TipoBien 
				--     AND YEAR(T_Activos.FechaUA)=@Ejercicio AND (MONTH(T_Activos.FechaUA )between 1 and @Periodo )
				Where  C_TipoBien.DescripcionTipoBien= @TipoBien 
				AND (T_Activos.FechaUA >= @dateini AND T_Activos.FechaUA <= @datefin)
				ORDER BY T_Activos.NumeroEconomico
			END
			END
			ELSE IF @EstatusBien ='' BEGIN
				SELECT C_TipoBien.DescripcionTipoBien,
				cast(case
						 When T_Activos.Etiqueta <> '' then T_Activos.Etiqueta               
						 else convert(varchar (max), T_Activos.NumeroEconomico) end as varchar (max)) as NumeroEconomico,
				T_Activos.Descripcion,
				1 as Cantidad,
				T_Activos.CostoAdquisicion,
				C_Maestro.UnidadMedida, 
				T_Activos.CostoAdquisicion as Importe,
				T_Activos.FechaUA as Fecha

				FROM T_Activos
				JOIN T_AltaActivos ON T_Activos.FolioAlta= T_AltaActivos.FolioAlta 
				JOIN C_TipoBien ON C_TipoBien.IdTipoBien= T_Activos.IdTipoBien 
				JOIN C_Maestro ON C_Maestro.IdCodigoProducto = T_Activos.CodigoProducto and C_Maestro.IdTipoBien = T_Activos.IdTipoBien 
				-- amjm
				--  Where  C_TipoBien.DescripcionTipoBien= @TipoBien 
				--  AND YEAR(T_Activos.FechaUA)=@Ejercicio AND (MONTH(T_Activos.FechaUA )between 1 and @Periodo )
				Where  C_TipoBien.DescripcionTipoBien= @TipoBien 
				AND (T_Activos.FechaUA >= @dateini AND T_Activos.FechaUA <= @datefin)
				ORDER BY T_Activos.NumeroEconomico
	 END
--SELECT C_TipoBien.DescripcionTipoBien,
--cast(case
--         When T_Activos.Etiqueta <> '' then T_Activos.Etiqueta               
--		 else convert(varchar (max), T_Activos.NumeroEconomico) end as varchar (max)) as NumeroEconomico,
--T_Activos.Descripcion,
--1 as Cantidad,
--T_Activos.CostoAdquisicion,
--C_Maestro.UnidadMedida, 
--T_Activos.CostoAdquisicion as Importe,
--T_Activos.FechaUA as Fecha

--FROM T_Activos
--JOIN T_AltaActivos ON T_Activos.FolioAlta= T_AltaActivos.FolioAlta 
--JOIN C_TipoBien ON C_TipoBien.IdTipoBien= T_Activos.IdTipoBien 
--JOIN C_Maestro ON C_Maestro.IdCodigoProducto = T_Activos.CodigoProducto and C_Maestro.IdTipoBien = T_Activos.IdTipoBien 

--Where  C_TipoBien.DescripcionTipoBien= @TipoBien AND YEAR(T_Activos.FechaUA)=@Ejercicio AND (MONTH(T_Activos.FechaUA )between 1 and @Periodo )
--ORDER BY T_Activos.NumeroEconomico
END

IF @TipoBien ='' BEGIN
	IF @EstatusBien ='' BEGIN
		SELECT C_TipoBien.DescripcionTipoBien,
cast(case
         When T_Activos.Etiqueta <> '' then T_Activos.Etiqueta               
		 else convert(varchar (max), T_Activos.NumeroEconomico) end as varchar (max)) as NumeroEconomico,
T_Activos.Descripcion,
1 as Cantidad,
T_Activos.CostoAdquisicion,
C_Maestro.UnidadMedida, 
T_Activos.CostoAdquisicion as Importe,
T_Activos.FechaUA as Fecha

FROM T_Activos
 JOIN T_AltaActivos ON T_Activos.FolioAlta= T_AltaActivos.FolioAlta 
 JOIN C_TipoBien ON C_TipoBien.IdTipoBien= T_Activos.IdTipoBien 
LEFT OUTER JOIN C_Maestro ON C_Maestro.IdCodigoProducto = T_Activos.CodigoProducto and C_Maestro.IdGrupo = T_Activos.CodigoGrupo and  C_Maestro.IdSubGrupo = T_Activos.CodigoSubGrupo
-- amjm
-- Where YEAR(T_Activos.FechaUA)=@Ejercicio AND (MONTH(T_Activos.FechaUA ) between 1 and @Periodo )
Where (T_Activos.FechaUA >= @dateini AND T_Activos.FechaUA <= @datefin)
ORDER BY C_TipoBien.DescripcionTipoBien, T_Activos.NumeroEconomico
	END
    IF @EstatusBien <>'' BEGIN
	    IF @EstatusBien ='Activo' BEGIN
		SELECT C_TipoBien.DescripcionTipoBien,
		cast(case
		         When T_Activos.Etiqueta <> '' then T_Activos.Etiqueta               
				 else convert(varchar (max), T_Activos.NumeroEconomico) end as varchar (max)) as NumeroEconomico,
		T_Activos.Descripcion,
		1 as Cantidad,
		T_Activos.CostoAdquisicion,
		C_Maestro.UnidadMedida, 
		T_Activos.CostoAdquisicion as Importe,
		T_Activos.FechaUA as Fecha

		FROM T_Activos
		 JOIN T_AltaActivos ON T_Activos.FolioAlta= T_AltaActivos.FolioAlta 
		 JOIN C_TipoBien ON C_TipoBien.IdTipoBien= T_Activos.IdTipoBien 
		LEFT OUTER JOIN C_Maestro ON C_Maestro.IdCodigoProducto = T_Activos.CodigoProducto and C_Maestro.IdGrupo = T_Activos.CodigoGrupo and  C_Maestro.IdSubGrupo = T_Activos.CodigoSubGrupo
		-- amjm
		-- Where YEAR(T_Activos.FechaUA)=@Ejercicio AND (MONTH(T_Activos.FechaUA ) between 1 and @Periodo ) 
		-- AND T_Activos.Estatus='A'
		Where (T_Activos.FechaUA >= @dateini AND T_Activos.FechaUA <= @datefin)
		AND T_Activos.Estatus='A'
		ORDER BY C_TipoBien.DescripcionTipoBien, T_Activos.NumeroEconomico
		END
		ELSE IF @EstatusBien ='Inactivo' BEGIN
		SELECT C_TipoBien.DescripcionTipoBien,
		cast(case
		         When T_Activos.Etiqueta <> '' then T_Activos.Etiqueta               
				 else convert(varchar (max), T_Activos.NumeroEconomico) end as varchar (max)) as NumeroEconomico,
		T_Activos.Descripcion,
		1 as Cantidad,
		T_Activos.CostoAdquisicion,
		C_Maestro.UnidadMedida, 
		T_Activos.CostoAdquisicion as Importe,
		T_Activos.FechaUA as Fecha

		FROM T_Activos
		 JOIN T_AltaActivos ON T_Activos.FolioAlta= T_AltaActivos.FolioAlta 
		 JOIN C_TipoBien ON C_TipoBien.IdTipoBien= T_Activos.IdTipoBien 
		LEFT OUTER JOIN C_Maestro ON C_Maestro.IdCodigoProducto = T_Activos.CodigoProducto and C_Maestro.IdGrupo = T_Activos.CodigoGrupo and  C_Maestro.IdSubGrupo = T_Activos.CodigoSubGrupo
		-- amjm
		-- Where YEAR(T_Activos.FechaUA)=@Ejercicio AND (MONTH(T_Activos.FechaUA ) between 1 and @Periodo ) 
		--  AND T_Activos.Estatus='B'
		Where (T_Activos.FechaUA >= @dateini AND T_Activos.FechaUA <= @datefin)
		   AND T_Activos.Estatus='B'
		ORDER BY C_TipoBien.DescripcionTipoBien, T_Activos.NumeroEconomico
		END
		ELSE IF @EstatusBien ='Todos' BEGIN
		SELECT C_TipoBien.DescripcionTipoBien,
		cast(case
		         When T_Activos.Etiqueta <> '' then T_Activos.Etiqueta               
				 else convert(varchar (max), T_Activos.NumeroEconomico) end as varchar (max)) as NumeroEconomico,
		T_Activos.Descripcion,
		1 as Cantidad,
		T_Activos.CostoAdquisicion,
		C_Maestro.UnidadMedida, 
		T_Activos.CostoAdquisicion as Importe,
		T_Activos.FechaUA as Fecha

		FROM T_Activos
		 JOIN T_AltaActivos ON T_Activos.FolioAlta= T_AltaActivos.FolioAlta 
		 JOIN C_TipoBien ON C_TipoBien.IdTipoBien= T_Activos.IdTipoBien 
		LEFT OUTER JOIN C_Maestro ON C_Maestro.IdCodigoProducto = T_Activos.CodigoProducto and C_Maestro.IdGrupo = T_Activos.CodigoGrupo and  C_Maestro.IdSubGrupo = T_Activos.CodigoSubGrupo
		-- amjm
		-- Where YEAR(T_Activos.FechaUA)=@Ejercicio AND (MONTH(T_Activos.FechaUA ) between 1 and @Periodo )
		Where (T_Activos.FechaUA >= @dateini AND T_Activos.FechaUA <= @datefin)
		ORDER BY C_TipoBien.DescripcionTipoBien, T_Activos.NumeroEconomico
		END
	END	


--SELECT C_TipoBien.DescripcionTipoBien,
--cast(case
--         When T_Activos.Etiqueta <> '' then T_Activos.Etiqueta               
--		 else convert(varchar (max), T_Activos.NumeroEconomico) end as varchar (max)) as NumeroEconomico,
--T_Activos.Descripcion,
--1 as Cantidad,
--T_Activos.CostoAdquisicion,
--C_Maestro.UnidadMedida, 
--T_Activos.CostoAdquisicion as Importe,
--T_Activos.FechaUA as Fecha

--FROM T_Activos
-- JOIN T_AltaActivos ON T_Activos.FolioAlta= T_AltaActivos.FolioAlta 
-- JOIN C_TipoBien ON C_TipoBien.IdTipoBien= T_Activos.IdTipoBien 
--LEFT OUTER JOIN C_Maestro ON C_Maestro.IdCodigoProducto = T_Activos.CodigoProducto and C_Maestro.IdGrupo = T_Activos.CodigoGrupo and  C_Maestro.IdSubGrupo = T_Activos.CodigoSubGrupo
--Where YEAR(T_Activos.FechaUA)=@Ejercicio AND (MONTH(T_Activos.FechaUA ) between 1 and @Periodo )
--ORDER BY C_TipoBien.DescripcionTipoBien, T_Activos.NumeroEconomico
END
