/****** Object:  StoredProcedure [dbo].[SP_RPT_EstadoEjercicioPresupuestoEGR4Niveles]    Script Date: 11/26/2012 15:34:36 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SP_RPT_EstadoEjercicioPresupuestoEGR4Niveles]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[SP_RPT_EstadoEjercicioPresupuestoEGR4Niveles]
GO
/****** Object:  StoredProcedure [dbo].[SP_RPT_EstadoEjercicioPresupuestoEGR4Niveles]    Script Date: 11/26/2012 15:34:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Exec SP_RPT_EstadoEjercicioPresupuestoEGR4Niveles 1,12,1,2019,'',0,0,0
CREATE PROCEDURE [dbo].[SP_RPT_EstadoEjercicioPresupuestoEGR4Niveles] 

@Mes  as int, 
@Mes2 as int,  
@Tipo as int,
@Ejercicio as int,
@ClaveFF as varchar(6),
@IdCapitulo as int,
@AprAnual as bit,
@AmpRedAnual as bit


AS
BEGIN

declare @Anual as table(IdClave int, DESCRIPCION varchar(max), Clave int, Descripcion2 Varchar(max), IdClave2 int, Descripcion3 varchar(max), IdClave3 int, Descripcion4 varchar(max), IdClave4 int,
Autorizado decimal(18,4), TransferenciaAmp  decimal(18,4),TransferenciaRed decimal(18,4), Amp_Red decimal(18,2),  IdFuenteFinanciamiento varchar(200))

if @Tipo=1
BEGIN 

------*******************************************************************************************************
Insert into @Anual
Select CG.IdCapitulo as IdClave, CG.Descripcion as Descripcion, CN.IdConcepto  as Clave, CN.Descripcion as Descripcion2, CN.IdCapitulo as IdClave2,  --CG.IdCapitulo, CG.Descripcion,  CN.IdCapitulo, CN.IdConcepto, CN.Descripcion,  CP.IdPartida,
C_PartidasGenericasPres.DescripcionPartida  as Descripcion3,
C_PartidasGenericasPres.IdPartidaGenerica as IdClave3,
CP.DescripcionPartida  as Descripcion4,
CP.IdPartida as IdClave4,

sum(ISNULL(TP.Autorizado,0)) as Autorizado, 
(sum(ISNULL(TP.Ampliaciones,0)) + sum(ISNULL(TP.TransferenciaAmp,0))) as TransferenciaAmp, 
(sum(ISNULL(TP.Reducciones,0)) + sum(ISNULL(TP.TransferenciaRed,0))) as TransferenciaRed,
(sum(ISNULL(TP.Ampliaciones,0)) + sum(ISNULL(TP.TransferenciaAmp,0))) -
(sum(ISNULL(TP.Reducciones,0)) + sum(ISNULL(TP.TransferenciaRed,0))) as Amp_Red, 
CF.Clave as IdFuenteFinanciamiento

From T_PresupuestoNW As TP, T_SellosPresupuestales As TS , C_ConceptosNEP As CN, C_PartidasPres As CP, C_CapitulosNEP As CG,
C_PartidasGenericasPres, C_FuenteFinanciamiento CF 
where (Mes BETWEEN  1 AND 12) AND LYear=@Ejercicio AND Year=@Ejercicio AND  TP.IdSelloPresupuestal = TS.IdSelloPresupuestal AND CP.IdPartida = TS.IdPartida AND CN.IdConcepto = CP.IdConcepto AND CG.IdCapitulo = CN.IdCapitulo
and CP.IdPartidaGenerica=C_PartidasGenericasPres.IdPartidaGenerica AND TS.IdFuenteFinanciamiento = CF.IDFUENTEFINANCIAMIENTO
AND CG.IdCapitulo = CASE WHEN @IdCapitulo = 0 THEN CG.IdCapitulo ELSE @IdCapitulo END

Group by  CG.IdCapitulo, CG.Descripcion, CN.IdConcepto, CN.Descripcion, CN.IdCapitulo, C_PartidasGenericasPres.DescripcionPartida, 
C_PartidasGenericasPres.IdPartidaGenerica, CP.DescripcionPartida, CP.IdPartida, TS.IdFuenteFinanciamiento, CF.Clave 
Order by  CG.IdCapitulo , CN.IdConcepto, CN.IdCapitulo

------********************************************************************************************

--Tabla de titulos 
Declare @Titulos as table(IdClave int,Descripcion varchar(max),Clave int,Descripcion2 Varchar(max),IdClave2 int,
Descripcion3 Varchar(max),IdClave3 int,Descripcion4 Varchar(max),IdClave4 int,
Autorizado decimal(18,4),TransferenciaAmp decimal(18,4),TransferenciaRed decimal(18,4),Modificado decimal(18,4),Comprometido decimal(18,4),
Devengado decimal(18,4),Ejercido decimal(18,4),Pagado decimal(18,4),PresDispComp decimal(18,4),CompNoDev decimal(18,4),
PresSinDev decimal(18,4),Deuda decimal(18,4),Amp_Red decimal(18,4),SubEjercicio decimal(18,4), IdFuenteFinanciamiento varchar(10))


INSERT INTO @Titulos
SELECT CG.IdCapitulo as IdClave, 
CG.Descripcion as Descripcion, 
CN.IdConcepto  as Clave, 
CN.Descripcion as Descripcion2, 
CN.IdCapitulo as IdClave2,
C_PartidasGenericasPres.DescripcionPartida  as Descripcion3,
C_PartidasGenericasPres.IdPartidaGenerica as IdClave3,
C_PartidasPres.DescripcionPartida  as Descripcion4,
C_PartidasPres.IdPartida as IdClave4,
0 as Autorizado, 0 as TransferenciaAmp,  0 as TransferenciaRed, 0 as Modificado,0 as Comprometido, 0 as Devengado, 0 as Ejercido,0 as Pagado, 
0 As PresDispComp, 0 AS CompNoDev, 0 AS PresSinDev, 0 AS Deuda, 0 as Amp_Red, 0 as SubEjercicio, '0' as IdFuenteFinanciamiento 
From  C_ConceptosNEP As CN 
JOIN C_CapitulosNEP As CG
ON CG.IdCapitulo = CN.IdCapitulo
JOIN C_PartidasGenericasPres
ON CN.IdConcepto=C_PartidasGenericasPres.IdConcepto
JOIN C_PartidasPres
ON C_PartidasGenericasPres.IdPartidaGenerica=C_PartidasPres.IdPartidaGenerica 
Where CG.IdCapitulo = CASE WHEN @IdCapitulo = 0 THEN CG.IdCapitulo ELSE @IdCapitulo END

Declare @rpt as table(IdClave int,Descripcion varchar(max),Clave int,Descripcion2 Varchar(max),IdClave2 int,
Descripcion3 Varchar(max),IdClave3 int,Descripcion4 Varchar(max),IdClave4 int,
Autorizado decimal(18,4),TransferenciaAmp decimal(18,4),TransferenciaRed decimal(18,4),Modificado decimal(18,4),Comprometido decimal(18,4),
Devengado decimal(18,4),Ejercido decimal(18,4),Pagado decimal(18,4),PresDispComp decimal(18,4),CompNoDev decimal(18,4),
PresSinDev decimal(18,4),Deuda decimal(18,4),Amp_Red decimal(18,4),SubEjercicio decimal(18,4), IdFuenteFinanciamiento varchar(10))

Insert into @rpt
--VALORES ABSOLUTOS
--Consulta para Capítulo del Gasto del Ejercicio del Presupuesto **
Select CG.IdCapitulo as IdClave, CG.Descripcion as Descripcion, CN.IdConcepto  as Clave, CN.Descripcion as Descripcion2, CN.IdCapitulo as IdClave2,  --CG.IdCapitulo, CG.Descripcion,  CN.IdCapitulo, CN.IdConcepto, CN.Descripcion,  CP.IdPartida,
C_PartidasGenericasPres.DescripcionPartida  as Descripcion3,
C_PartidasGenericasPres.IdPartidaGenerica as IdClave3,
CP.DescripcionPartida  as Descripcion4,
CP.IdPartida as IdClave4,

sum(ISNULL(TP.Autorizado,0)) as Autorizado, 
(sum(ISNULL(TP.Ampliaciones,0)) + sum(ISNULL(TP.TransferenciaAmp,0))) as TransferenciaAmp, 
(sum(ISNULL(TP.Reducciones,0)) + sum(ISNULL(TP.TransferenciaRed,0))) as TransferenciaRed, 
(sum(ISNULL(TP.Autorizado,0)) + (sum(ISNULL(TP.Ampliaciones,0)) + sum(ISNULL(TP.TransferenciaAmp,0))) - (sum(ISNULL(TP.Reducciones,0)) + sum(ISNULL(TP.TransferenciaRed,0)))) as Modificado,
 
sum(ISNULL(TP.Comprometido,0)) as Comprometido, 
sum(ISNULL(TP.Devengado,0)) as Devengado, 
sum(ISNULL(TP.Ejercido,0)) as Ejercido,
sum(ISNULL(TP.Pagado,0)) as Pagado, 
(sum(ISNULL(TP.Autorizado,0)) + (sum(ISNULL(TP.Ampliaciones,0)) + sum(ISNULL(TP.TransferenciaAmp,0))) - (sum(ISNULL(TP.Reducciones,0)) + sum(ISNULL(TP.TransferenciaRed,0)))) - sum(ISNULL(TP.Comprometido,0)) As PresDispComp,
sum(ISNULL(TP.Comprometido,0)) - sum(ISNULL(TP.Devengado,0)) AS CompNoDev,
(sum(ISNULL(TP.Autorizado,0)) + (sum(ISNULL(TP.Ampliaciones,0)) + sum(ISNULL(TP.TransferenciaAmp,0))) - (sum(ISNULL(TP.Reducciones,0)) + sum(ISNULL(TP.TransferenciaRed,0))))- sum(ISNULL(TP.Devengado,0))  AS PresSinDev,
sum(ISNULL(TP.Devengado,0)) -  sum(ISNULL(TP.Pagado,0)) AS Deuda,
(sum(ISNULL(TP.Ampliaciones,0)) + sum(ISNULL(TP.TransferenciaAmp,0))) -
(sum(ISNULL(TP.Reducciones,0)) + sum(ISNULL(TP.TransferenciaRed,0))) as Amp_Red,
(sum(ISNULL(TP.Autorizado,0)) + (sum(ISNULL(TP.Ampliaciones,0)) + sum(ISNULL(TP.TransferenciaAmp,0))) - (sum(ISNULL(TP.Reducciones,0)) + sum(ISNULL(TP.TransferenciaRed,0))))-
sum(ISNULL(TP.Devengado,0))as SubEjercicio,
CF.Clave as IdFuenteFinanciamiento

From T_PresupuestoNW As TP, T_SellosPresupuestales As TS , C_ConceptosNEP As CN, C_PartidasPres As CP, C_CapitulosNEP As CG,
C_PartidasGenericasPres, C_FuenteFinanciamiento CF 
where (Mes BETWEEN  @Mes AND @Mes2) AND LYear=@Ejercicio AND Year=@Ejercicio AND  TP.IdSelloPresupuestal = TS.IdSelloPresupuestal AND CP.IdPartida = TS.IdPartida AND CN.IdConcepto = CP.IdConcepto AND CG.IdCapitulo = CN.IdCapitulo
and CP.IdPartidaGenerica=C_PartidasGenericasPres.IdPartidaGenerica AND TS.IdFuenteFinanciamiento = CF.IDFUENTEFINANCIAMIENTO
AND CG.IdCapitulo = CASE WHEN @IdCapitulo = 0 THEN CG.IdCapitulo ELSE @IdCapitulo END

Group by  CG.IdCapitulo, CG.Descripcion, CN.IdConcepto, CN.Descripcion, CN.IdCapitulo, C_PartidasGenericasPres.DescripcionPartida, 
C_PartidasGenericasPres.IdPartidaGenerica, CP.DescripcionPartida, CP.IdPartida, TS.IdFuenteFinanciamiento, CF.Clave 
Order by  CG.IdCapitulo , CN.IdConcepto, CN.IdCapitulo


insert into @rpt
select* from @Titulos t 
where t.Clave not in (select Clave from @rpt)

insert into @Anual
Select
IdClave, Descripcion, Clave, Descripcion2 Varchar, IdClave2,
Descripcion3, IdClave3, Descripcion4, IdClave4,
Autorizado,TransferenciaAmp,TransferenciaRed,
 Amp_Red, IdFuenteFinanciamiento
from @Titulos t 
where t.Clave not in (select Clave from @rpt)

--Select * from @rpt Order by IdClave, Clave, IdClave2, IdClave3, IdClave4
--Select * from @Anual Order by IdClave, Clave, IdClave2, IdClave3, IdClave4

IF @AprAnual = 1
	BEGIN
		Select A.IdClave, A.Descripcion, A.Clave, A.Descripcion2, A.IdClave2, A.Descripcion3, A.IdClave3,
		A.Descripcion4, A.IdClave4,
		ISNULL(A.Autorizado,0) as Autorizado,		
		ISNULL(T.TransferenciaAmp,0) as TransferenciaAmp,
		ISNULL(T.TransferenciaRed,0) as TransferenciaRed,
		CASE @AmpRedAnual
		WHEN 1 THEN (ISNULL(A.Autorizado,0) + ISNULL(A.Amp_Red,0))
		ELSE (ISNULL(A.Autorizado,0) + ISNULL(T.Amp_Red,0))
		END as Modificado,
		ISNULL(Comprometido,0) as Comprometido,	ISNULL(Devengado,0) as Devengado,
		ISNULL(Ejercido,0) as Ejercido, 
		ISNULL(Pagado,0) as Pagado, 
		CASE @AmpRedAnual
		WHEN 1 THEN (ISNULL(A.Autorizado,0) + ISNULL(A.Amp_Red,0)) - ISNULL(Comprometido,0)
		ELSE (ISNULL(A.Autorizado,0) + ISNULL(T.Amp_Red,0)) - ISNULL(Comprometido,0)
		END as PresDispComp, 
		ISNULL(CompNoDev,0) as CompNoDev,
		CASE @AmpRedAnual
		WHEN 1 THEN (ISNULL(A.Autorizado,0) + ISNULL(A.Amp_Red,0)) - ISNULL(Devengado,0)
		ELSE (ISNULL(A.Autorizado,0) + ISNULL(T.Amp_Red,0)) - ISNULL(Devengado,0)
		END as PresSinDev,	
		--ISNULL(PresSinDev,0) as PresSinDev, 
		ISNULL(Deuda,0) as Deuda,
		CASE @AmpRedAnual
		WHEN 1 THEN ISNULL(A.Amp_Red,0)
		ELSE ISNULL(T.Amp_Red,0)
		END as Amp_Red,	
		ISNULL(SubEjercicio,0) as SubEjercicio,	
		A.IdFuenteFinanciamiento
		FROM @Anual A LEFT JOIN @rpt T ON A.IdClave = T.IdClave and A.Clave = T.Clave and A.IdClave2 = T.IdClave2 and  A.IdClave3 = T.IdClave3 and  A.IdClave4 = T.IdClave4 and A.IdFuenteFinanciamiento = T.IdFuenteFinanciamiento
		WHERE  A.IdFuenteFinanciamiento = CASE WHEN @ClaveFF = '' THEN A.IdFuenteFinanciamiento else @ClaveFF end
		Order by IdClave, Clave, IdClave2, IdClave3, IdClave4
	END
ELSE
BEGIN 
	Select A.IdClave, A.Descripcion, A.Clave, A.Descripcion2, A.IdClave2, A.Descripcion3, A.IdClave3,
		A.Descripcion4, A.IdClave4,
		ISNULL(T.Autorizado,0) as Autorizado,		
		ISNULL(T.TransferenciaAmp,0) as TransferenciaAmp,
		ISNULL(T.TransferenciaRed,0) as TransferenciaRed,
		CASE @AmpRedAnual
		WHEN 1 THEN (ISNULL(T.Autorizado,0) + ISNULL(A.Amp_Red,0))
		ELSE (ISNULL(T.Autorizado,0) + ISNULL(T.Amp_Red,0))
		END as Modificado,	
		ISNULL(Comprometido,0) as Comprometido,	ISNULL(Devengado,0) as Devengado,
		ISNULL(Ejercido,0) as Ejercido, 
		ISNULL(Pagado,0) as Pagado, 
		CASE @AmpRedAnual
		WHEN 1 THEN (ISNULL(T.Autorizado,0) + ISNULL(A.Amp_Red,0)) - ISNULL(Comprometido,0)
		ELSE (ISNULL(T.Autorizado,0) + ISNULL(T.Amp_Red,0)) - ISNULL(Comprometido,0)
		END as PresDispComp,
		ISNULL(CompNoDev,0) as CompNoDev,
		CASE @AmpRedAnual
		WHEN 1 THEN (ISNULL(T.Autorizado,0) + ISNULL(A.Amp_Red,0)) - ISNULL(Devengado,0)
		ELSE (ISNULL(T.Autorizado,0) + ISNULL(T.Amp_Red,0)) - ISNULL(Devengado,0)
		END as PresSinDev,		
		--ISNULL(PresSinDev,0) as PresSinDev, 
		ISNULL(Deuda,0) as Deuda,
		CASE @AmpRedAnual
		WHEN 1 THEN ISNULL(A.Amp_Red,0)
		ELSE ISNULL(T.Amp_Red,0)
		END as Amp_Red,	
		ISNULL(SubEjercicio,0) as SubEjercicio,	
		A.IdFuenteFinanciamiento
		FROM @Anual A LEFT JOIN @rpt T ON A.IdClave = T.IdClave and A.Clave = T.Clave and A.IdClave2 = T.IdClave2 and  A.IdClave3 = T.IdClave3 and  A.IdClave4 = T.IdClave4 and A.IdFuenteFinanciamiento = T.IdFuenteFinanciamiento
		WHERE  A.IdFuenteFinanciamiento = CASE WHEN @ClaveFF = '' THEN A.IdFuenteFinanciamiento else @ClaveFF end
		Order by IdClave, Clave, IdClave2, IdClave3, IdClave4
	END


END


Else if @Tipo=2
BEGIN

--**************************************************************************
Insert into @Anual
Select CG.IdCapitulo as IdClave, CG.Descripcion as Descripcion, CN.IdConcepto  as Clave, CN.Descripcion as Descripcion2, CN.IdCapitulo as IdClave2,  --CG.IdCapitulo, CG.Descripcion,  CN.IdCapitulo, CN.IdConcepto, CN.Descripcion,  CP.IdPartida,
C_PartidasGenericasPres.DescripcionPartida  as Descripcion3,
C_PartidasGenericasPres.IdPartidaGenerica as IdClave3,
CP.DescripcionPartida  as Descripcion4,
CP.IdPartida as IdClave4,

 sum(ISNULL(TP.Autorizado,0)) as Autorizado, 
(sum(ISNULL(TP.Ampliaciones,0)) + sum(ISNULL(TP.TransferenciaAmp,0))) as TransferenciaAmp, 
(sum(ISNULL(TP.Reducciones,0)) + sum(ISNULL(TP.TransferenciaRed,0))) as TransferenciaRed, 
(sum(ISNULL(TP.Ampliaciones,0)) + sum(ISNULL(TP.TransferenciaAmp,0))) -
(sum(ISNULL(TP.Reducciones,0)) + sum(ISNULL(TP.TransferenciaRed,0))) as Amp_Red,
CF.Clave as IdFuenteFinanciamiento

From T_PresupuestoNW As TP, T_SellosPresupuestales As TS , C_ConceptosNEP As CN, C_PartidasPres As CP, C_CapitulosNEP As CG, C_PartidasGenericasPres, C_FuenteFinanciamiento CF
where (Mes = 0) AND LYear=@Ejercicio AND Year=@Ejercicio  
AND  TP.IdSelloPresupuestal = TS.IdSelloPresupuestal AND CP.IdPartida = TS.IdPartida 
AND CN.IdConcepto = CP.IdConcepto AND CG.IdCapitulo = CN.IdCapitulo
AND CP.IdPartidaGenerica=C_PartidasGenericasPres.IdPartidaGenerica
AND TS.IdFuenteFinanciamiento = CF.IdFuenteFinanciamiento
AND CG.IdCapitulo = CASE WHEN @IdCapitulo = 0 THEN CG.IdCapitulo ELSE @IdCapitulo END

Group by  CG.IdCapitulo, CG.Descripcion, CN.IdConcepto, CN.Descripcion, CN.IdCapitulo, C_PartidasGenericasPres.DescripcionPartida, 
C_PartidasGenericasPres.IdPartidaGenerica, CP.DescripcionPartida, CP.IdPartida, TS.IdFuenteFinanciamiento, CF.Clave
Order by  CG.IdCapitulo , CN.IdConcepto, CN.IdCapitulo
--**************************************************************************

--Tabla de titulos 
Declare @Titulos2 as table(IdClave int,Descripcion varchar(max),Clave int,Descripcion2 Varchar(max),IdClave2 int,
Descripcion3 Varchar(max),IdClave3 int,Descripcion4 Varchar(max),IdClave4 int,
Autorizado decimal(18,4),TransferenciaAmp decimal(18,4),TransferenciaRed decimal(18,4),Modificado decimal(18,4),Comprometido decimal(18,4),
Devengado decimal(18,4),Ejercido decimal(18,4),Pagado decimal(18,4),PresDispComp decimal(18,4),CompNoDev decimal(18,4),
PresSinDev decimal(18,4),Deuda decimal(18,4),Amp_Red decimal(18,4),SubEjercicio decimal(18,4), IdFuenteFinanciamiento varchar(10))

INSERT INTO @Titulos2
SELECT CG.IdCapitulo as IdClave, 
CG.Descripcion as Descripcion, 
CN.IdConcepto  as Clave, 
CN.Descripcion as Descripcion2, 
CN.IdCapitulo as IdClave2,
C_PartidasGenericasPres.DescripcionPartida  as Descripcion3,
C_PartidasGenericasPres.IdPartidaGenerica as IdClave3,
C_PartidasPres.DescripcionPartida  as Descripcion4,
C_PartidasPres.IdPartida as IdClave4,
0 as Autorizado, 0 as TransferenciaAmp,  0 as TransferenciaRed, 0 as Modificado,0 as Comprometido, 0 as Devengado, 0 as Ejercido,0 as Pagado, 
0 As PresDispComp, 0 AS CompNoDev, 0 AS PresSinDev, 0 AS Deuda, 0 as Amp_Red, 0 as SubEjercicio, '0' as IdFuenteFinanciamiento 
From  C_ConceptosNEP As CN 
JOIN C_CapitulosNEP As CG
ON CG.IdCapitulo = CN.IdCapitulo
JOIN C_PartidasGenericasPres
ON CN.IdConcepto=C_PartidasGenericasPres.IdConcepto
JOIN C_PartidasPres
ON C_PartidasGenericasPres.IdPartidaGenerica=C_PartidasPres.IdPartidaGenerica 
Where CG.IdCapitulo = CASE WHEN @IdCapitulo = 0 THEN CG.IdCapitulo ELSE @IdCapitulo END

Declare @rpt2 as table(IdClave int,Descripcion varchar(max),Clave int,Descripcion2 Varchar(max),IdClave2 int,Descripcion3 Varchar(max),IdClave3 int,Descripcion4 Varchar(max),IdClave4 int,
Autorizado decimal(18,4),TransferenciaAmp decimal(18,4),TransferenciaRed decimal(18,4),Modificado decimal(18,4),Comprometido decimal(18,4),
Devengado decimal(18,4),Ejercido decimal(18,4),Pagado decimal(18,4),PresDispComp decimal(18,4),CompNoDev decimal(18,4),
PresSinDev decimal(18,4),Deuda decimal(18,4),Amp_Red decimal(18,4),SubEjercicio decimal(18,4), IdFuenteFinanciamiento varchar(10))
Insert into @rpt2
--VALORES RELATIVOS
--Consulta para Capítulo del Gasto del Ejercicio del Presupuesto **
Select CG.IdCapitulo as IdClave, CG.Descripcion as Descripcion, CN.IdConcepto  as Clave, CN.Descripcion as Descripcion2, CN.IdCapitulo as IdClave2,  --CG.IdCapitulo, CG.Descripcion,  CN.IdCapitulo, CN.IdConcepto, CN.Descripcion,  CP.IdPartida,
C_PartidasGenericasPres.DescripcionPartida  as Descripcion3,
C_PartidasGenericasPres.IdPartidaGenerica as IdClave3,
CP.DescripcionPartida  as Descripcion4,
CP.IdPartida as IdClave4,

 sum(ISNULL(TP.Autorizado,0)) as Autorizado, 
(sum(ISNULL(TP.Ampliaciones,0)) + sum(ISNULL(TP.TransferenciaAmp,0))) as TransferenciaAmp, 
(sum(ISNULL(TP.Reducciones,0)) + sum(ISNULL(TP.TransferenciaRed,0))) as TransferenciaRed, 
(sum(ISNULL(TP.Autorizado,0)) + (sum(ISNULL(TP.Ampliaciones,0)) + sum(ISNULL(TP.TransferenciaAmp,0))) - (sum(ISNULL(TP.Reducciones,0)) + sum(ISNULL(TP.TransferenciaRed,0))))as Modificado,


sum(ISNULL(TP.Comprometido,0)) - sum(ISNULL(TP.Devengado,0)) As Comprometido,
sum(ISNULL(TP.Devengado,0)) - sum(ISNULL(TP.Ejercido,0)) As Devengado,
sum(ISNULL(TP.Ejercido,0)) - sum(ISNULL(TP.Pagado,0)) As Ejercido,
sum(ISNULL(TP.Pagado,0)) As Pagado,
    
(sum(ISNULL(TP.Autorizado,0)) + (sum(ISNULL(TP.Ampliaciones,0)) + sum(ISNULL(TP.TransferenciaAmp,0))) - (sum(ISNULL(TP.Reducciones,0)) + sum(ISNULL(TP.TransferenciaRed,0)))) - (sum(ISNULL(TP.Comprometido,0)) - sum(ISNULL(TP.Devengado,0))) As PresDispComp,
(sum(ISNULL(TP.Comprometido,0)) - sum(ISNULL(TP.Devengado,0))) - (sum(ISNULL(TP.Devengado,0)) - sum(TP.Ejercido)) AS CompNoDev,
(sum(ISNULL(TP.Autorizado,0)) + (sum(ISNULL(TP.Ampliaciones,0)) + sum(ISNULL(TP.TransferenciaAmp,0))) - (sum(ISNULL(TP.Reducciones,0)) + sum(ISNULL(TP.TransferenciaRed,0)))) - (sum(ISNULL(TP.Devengado,0)) - sum(ISNULL(TP.Ejercido,0)))  AS PresSinDev,
(sum(ISNULL(TP.Devengado,0)) - sum(ISNULL(TP.Ejercido,0))) -  (sum(TP.Pagado)) AS Deuda,--(sum(ISNULL(TP.Ejercido,0)) - sum(TP.Pagado)) AS Deuda,

(sum(ISNULL(TP.Ampliaciones,0)) + sum(ISNULL(TP.TransferenciaAmp,0))) - 
(sum(ISNULL(TP.Reducciones,0)) + sum(ISNULL(TP.TransferenciaRed,0))) as Amp_Red, 
(sum(ISNULL(TP.Autorizado,0)) + (sum(ISNULL(TP.Ampliaciones,0)) + sum(ISNULL(TP.TransferenciaAmp,0))) - (sum(ISNULL(TP.Reducciones,0)) + sum(ISNULL(TP.TransferenciaRed,0))))-
(sum(ISNULL(TP.Devengado,0)) - sum(ISNULL(TP.Ejercido,0))) As SubEjercicio,
CF.Clave as IdFuenteFinanciamiento


From T_PresupuestoNW As TP, T_SellosPresupuestales As TS , C_ConceptosNEP As CN, C_PartidasPres As CP, C_CapitulosNEP As CG, C_PartidasGenericasPres, C_FuenteFinanciamiento CF
where (Mes BETWEEN  @Mes AND @Mes2) AND LYear=@Ejercicio AND Year=@Ejercicio  
AND  TP.IdSelloPresupuestal = TS.IdSelloPresupuestal AND CP.IdPartida = TS.IdPartida 
AND CN.IdConcepto = CP.IdConcepto AND CG.IdCapitulo = CN.IdCapitulo
AND CP.IdPartidaGenerica=C_PartidasGenericasPres.IdPartidaGenerica
AND TS.IdFuenteFinanciamiento = CF.IdFuenteFinanciamiento
AND CG.IdCapitulo = CASE WHEN @IdCapitulo = 0 THEN CG.IdCapitulo ELSE @IdCapitulo END

Group by  CG.IdCapitulo, CG.Descripcion, CN.IdConcepto, CN.Descripcion, CN.IdCapitulo, C_PartidasGenericasPres.DescripcionPartida, 
C_PartidasGenericasPres.IdPartidaGenerica, CP.DescripcionPartida, CP.IdPartida, TS.IdFuenteFinanciamiento, CF.Clave
Order by  CG.IdCapitulo , CN.IdConcepto, CN.IdCapitulo

insert into @rpt2
select* from @Titulos2 t 
where t.Clave not in (select Clave from @rpt2)

IF @AprAnual = 1
	BEGIN
		Select A.IdClave, A.Descripcion, A.Clave, A.Descripcion2, A.IdClave2, A.Descripcion3, A.IdClave3,
		A.Descripcion4, A.IdClave4,
		ISNULL(A.Autorizado,0) as Autorizado,		
		ISNULL(T.TransferenciaAmp,0) as TransferenciaAmp,
		ISNULL(T.TransferenciaRed,0) as TransferenciaRed,
		CASE @AmpRedAnual
		WHEN 1 THEN (ISNULL(A.Autorizado,0) + ISNULL(A.Amp_Red,0))
		ELSE (ISNULL(A.Autorizado,0) + ISNULL(T.Amp_Red,0))
		END as Modificado,	
		ISNULL(Comprometido,0) as Comprometido,	ISNULL(Devengado,0) as Devengado,
		ISNULL(Ejercido,0) as Ejercido, 
		ISNULL(Pagado,0) as Pagado, 
		--ISNULL(PresDispComp,0) as PresDispComp,
		CASE @AmpRedAnual
		WHEN 1 THEN (ISNULL(A.Autorizado,0) + ISNULL(A.Amp_Red,0)) - ISNULL(Comprometido,0)
		ELSE (ISNULL(A.Autorizado,0) + ISNULL(T.Amp_Red,0)) - ISNULL(Comprometido,0)
		END as PresDispComp, 
		ISNULL(CompNoDev,0) as CompNoDev,
		CASE @AmpRedAnual
		WHEN 1 THEN (ISNULL(A.Autorizado,0) + ISNULL(A.Amp_Red,0)) - ISNULL(Devengado,0)
		ELSE (ISNULL(A.Autorizado,0) + ISNULL(T.Amp_Red,0)) - ISNULL(Devengado,0)
		END as PresSinDev,	
		--ISNULL(PresSinDev,0) as PresSinDev, 
		ISNULL(Deuda,0) as Deuda,
		CASE @AmpRedAnual
		WHEN 1 THEN ISNULL(A.Amp_Red,0)
		ELSE ISNULL(T.Amp_Red,0)
		END as Amp_Red,	
		ISNULL(SubEjercicio,0) as SubEjercicio,	
		A.IdFuenteFinanciamiento
		FROM @Anual A LEFT JOIN @rpt2 T ON A.IdClave = T.IdClave and A.Clave = T.Clave and A.IdClave2 = T.IdClave2 and  A.IdClave3 = T.IdClave3 and  A.IdClave4 = T.IdClave4 and A.IdFuenteFinanciamiento = T.IdFuenteFinanciamiento
		WHERE  A.IdFuenteFinanciamiento = CASE WHEN @ClaveFF = '' THEN A.IdFuenteFinanciamiento else @ClaveFF end
		Order by IdClave, Clave, IdClave2, IdClave3, IdClave4
	END
ELSE
BEGIN 
	Select A.IdClave, A.Descripcion, A.Clave, A.Descripcion2, A.IdClave2, A.Descripcion3, A.IdClave3,
		A.Descripcion4, A.IdClave4,
		ISNULL(T.Autorizado,0) as Autorizado,		
		ISNULL(T.TransferenciaAmp,0) as TransferenciaAmp,
		ISNULL(T.TransferenciaRed,0) as TransferenciaRed,
		CASE @AmpRedAnual
		WHEN 1 THEN (ISNULL(T.Autorizado,0) + ISNULL(A.Amp_Red,0))
		ELSE (ISNULL(T.Autorizado,0) + ISNULL(T.Amp_Red,0))
		END as Modificado,		
		ISNULL(Comprometido,0) as Comprometido,	ISNULL(Devengado,0) as Devengado,
		ISNULL(Ejercido,0) as Ejercido, 
		ISNULL(Pagado,0) as Pagado,
		CASE @AmpRedAnual
		WHEN 1 THEN (ISNULL(T.Autorizado,0) + ISNULL(A.Amp_Red,0)) - ISNULL(Comprometido,0)
		ELSE (ISNULL(T.Autorizado,0) + ISNULL(T.Amp_Red,0)) - ISNULL(Comprometido,0)
		END as PresDispComp, 
		ISNULL(CompNoDev,0) as CompNoDev,
		CASE @AmpRedAnual
		WHEN 1 THEN (ISNULL(T.Autorizado,0) + ISNULL(A.Amp_Red,0)) - ISNULL(Devengado,0)
		ELSE (ISNULL(T.Autorizado,0) + ISNULL(T.Amp_Red,0)) - ISNULL(Devengado,0)
		END as PresSinDev,		
		--ISNULL(PresSinDev,0) as PresSinDev, 
		ISNULL(Deuda,0) as Deuda,
		CASE @AmpRedAnual
		WHEN 1 THEN ISNULL(A.Amp_Red,0)
		ELSE ISNULL(T.Amp_Red,0)
		END as Amp_Red,	
		ISNULL(SubEjercicio,0) as SubEjercicio,	
		A.IdFuenteFinanciamiento
		FROM @Anual A LEFT JOIN @rpt2 T ON A.IdClave = T.IdClave and A.Clave = T.Clave and A.IdClave2 = T.IdClave2 and  A.IdClave3 = T.IdClave3 and  A.IdClave4 = T.IdClave4 and A.IdFuenteFinanciamiento = T.IdFuenteFinanciamiento
		WHERE  A.IdFuenteFinanciamiento = CASE WHEN @ClaveFF = '' THEN A.IdFuenteFinanciamiento else @ClaveFF end
		Order by IdClave, Clave, IdClave2, IdClave3, IdClave4
	END


END
END
GO

EXEC SP_FirmasReporte 'REPORTE ANALÍTICO DEL EJERCICIO DEL PRESUPUESTO DE EGRESOS (POR PARTIDA HASTA 4° NIVEL)'
GO

Exec SP_CFG_LogScripts 'SP_RPT_EstadoEjercicioPresupuestoEGR4Niveles','2.29'
GO


