IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[C_MatrizIngresosDevengados]') AND type in (N'U'))
DROP TABLE [dbo].[C_MatrizIngresosDevengados]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[C_MatrizIngresosDevengados](
	[CRI] [varchar](10) NULL,
	[NombreCRI] [varchar](max) NULL,
	[Caracteristicas] [varchar](max) NULL,
	[CuentaCargo] [varchar](80) NULL,
	[NombreCuentaCargo] [varchar](max) NULL,
	[CuentaAbono] [varchar](80) NULL,
	[NombreCuentaAbono] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[C_MatrizIngresosDevengados] ([CRI], [NombreCRI], [Caracteristicas], [CuentaCargo], [NombreCuentaCargo], [CuentaAbono], [NombreCuentaAbono]) VALUES (N'11',N'Impuestos Sobre los Ingresos',N'Cobro en término',N'1.1.2.4',N'Ingresos por Recuperar a Corto Plazo',N'4.1.1.1',N'Impuestos Sobre los Ingresos')
INSERT [dbo].[C_MatrizIngresosDevengados] ([CRI], [NombreCRI], [Caracteristicas], [CuentaCargo], [NombreCuentaCargo], [CuentaAbono], [NombreCuentaAbono]) VALUES (N'11',N'Impuestos Sobre los Ingresos',N'Convenio de parcialidades o diferido',N'1.1.2.4',N'Ingresos por Recuperar a Corto Plazo',N'4.1.1.1',N'Impuestos Sobre los Ingresos')
INSERT [dbo].[C_MatrizIngresosDevengados] ([CRI], [NombreCRI], [Caracteristicas], [CuentaCargo], [NombreCuentaCargo], [CuentaAbono], [NombreCuentaAbono]) VALUES (N'11',N'Impuestos Sobre los Ingresos',N'Cobro extemporáneo',N'1.1.2.4',N'Ingresos por Recuperar a Corto Plazo',N'4.1.1.1',N'Impuestos Sobre los Ingresos')
GO
GO